In [1]:
# dependencies and setup
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Store CSV to DataFrame
reviews_csv = "/Users/madeleinemerken/Downloads/Seattle_AirBnB_ETL-master/Resources/reviews.csv" 
reviews_df = pd.read_csv(reviews_csv,encoding="utf8")
reviews_df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [3]:
reviews_df.rename(columns={'id': 'review_id'}, inplace=True)

In [12]:
reviews_df = reviews_df[['review_id', "listing_id", "date", "reviewer_id", "reviewer_name", "comments"]]

In [13]:
reviews_df.head()

,review_id,listing_id,date,reviewer_id,reviewer_name,comments
0,38917982,7202016,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,39087409,7202016,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,39820030,7202016,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,40813543,7202016,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,41986501,7202016,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [14]:
# Create new data with select columns for the AirBnB listings
review_df = reviews_df[['review_id', "listing_id", "date", "reviewer_id", "reviewer_name", "comments"]].copy()

In [15]:
# convert dates to datetime
review_df["date"]=pd.to_datetime(review_df["date"])

In [16]:
# establish the MySQL database connection and create the engine
rds_connection_string = "root:<tigerlily>@127.0.0.1/seattle_airbnb_db"

In [17]:
engine = create_engine(f"mysql://{rds_connection_string}?charset=utf8", encoding = "utf8")

ModuleNotFoundError: No module named 'MySQLdb'