In [8]:
# dependencies and setup
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [9]:
# Store CSV to DataFrame
availability_file = "calendar.csv"
availability_df = pd.read_csv(calendar_file,encoding="utf8")
availability_df.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

### Clean the DataFrame

In [3]:
# convert boolean columns to boolean
availability_df["available"].replace(["t","f"], [True,False], inplace=True)
availability_df.head()

   listing_id        date  available   price
0      241032  2016-01-04       True  $85.00
1      241032  2016-01-05       True  $85.00
2      241032  2016-01-06      False     NaN
3      241032  2016-01-07      False     NaN
4      241032  2016-01-08      False     NaN

In [4]:
# remove dollar sign
availability_df["price"] = availability_df["price"].replace({'\$': '', ',': ''}, regex=True)
# convert the price column to numeric values instead of strings
availability_df["price"] = pd.to_numeric(availability_df["price"])
availability_df.head()

   listing_id        date  available  price
0      241032  2016-01-04       True   85.0
1      241032  2016-01-05       True   85.0
2      241032  2016-01-06      False    NaN
3      241032  2016-01-07      False    NaN
4      241032  2016-01-08      False    NaN

### SQL

In [7]:
# establish the MySQL database connection and create the engine
rds_connection_string = "root:<bubblestoday>@127.0.0.1/seattle_airbnb_db"
engine = create_engine(f"mysql://{rds_connection_string}?charset=utf8", encoding = "utf8")

ModuleNotFoundError: No module named 'MySQLdb'

In [ ]:
# check tablenames in the MySQL database
engine.table_names()

In [ ]:
# add the calendar dataframe to MySQL
calendar_df.to_sql(name="calendar",con=engine,if_exists="append",index=False)